<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.pescadl.sohacks" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateEventActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_create_event"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CreateClassActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_create_class"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CreateActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_create"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ViewEventActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_view_event"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ViewClass"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_view_class"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CreateTodoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Create Todo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ViewTodo"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_view_todo" >
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
